body {
	background: #fff;
	padding: 5px;
}

* {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #000;
	cursor: default;
}

.link__button {
	background: none;
	border: none;
	svg {
		transition: 0.5s;
	}
}

.rotate {
	transform: rotate(180deg);
}

._wrapper {
	max-width: 1440px;
	margin: 0 auto;
}

.header {
	background: #fff;
}

.header-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

.header-header-nav {
	max-width: 47%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	padding: 39px 0;
}

.a {
	text-decoration: none;
	font-weight: 600;
	transition: 0.5s;
	cursor: progress;
	svg path {
		transition: 0.5s;
	}
}

.a:hover {
	color: #f25822;
	svg path {
		stroke: #f25822;
		fill: #f25822;
	}
}

.header-main {
	display: flex;
	justify-content: space-between;
}

.header-main-article {
	max-width: 650px;
}

.header-main-article-header-h1 {
	font-weight: 800;
	font-size: 55px;
}

.p {
	font-weight: 400;
	font-size: 20px;
	opacity: 0.7;
	line-height: 29px;
	margin: 15px 0;
}

.header-main-article-footer {
	display: flex;
	gap: 20px;
}

.button {
	margin-top: 50px;
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 15px 30px;
	border: none;
	background: #f25822;
	border-radius: 56px;
	font-weight: 600;
	font-size: 20px;
	line-height: 27px;
	cursor: pointer;
	transition: 0.5s;
	color: #fff;
}

.button:hover {
	background: #ffffff;
	color: #aaaaaa;
	.button-svg-path {
		fill: #aaaaaa;
	}
}

.button.reverse {
	margin-top: 50px;
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 15px 30px;
	border: none;
	background: #ffffff;
	border-radius: 56px;
	font-weight: 600;
	font-size: 20px;
	line-height: 27px;
	cursor: pointer;
	transition: 0.5s;
	color: #aaaaaa;
	.button-svg-path {
		fill: #aaaaaa;
	}
}

.button.reverse:hover {
	color: #fff;
	background: #f25822;
}

.header-footer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	padding: 50px 0;
}

.header-footer-logo {
	cursor: pointer;
	margin: 15px;
}

.main-lorem-ipsum {
	display: flex;
	justify-content: space-between;
	padding-top: 150px;
	position: relative;
}

.main-lorem-ipsum::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	width: 100vw;
	margin-left: -50vw;
	margin-right: -50vw;
	height: 100%;
	background: #fafafa;
	z-index: -1;
}

.main-lorem-ipsum-section {
	max-width: 484px;
	margin: auto 0;
}

.h2 {
	font-weight: 700;
	font-size: 48px;
	line-height: 120%;
}

.main-cards {
	padding-top: 150px;
	padding-bottom: 150px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	align-items: center;
}

.main-cards-mini-card {
	max-width: max-content;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 25px;
	background: #ffffff;
	box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.main-cards-big-card {
	max-width: max-content;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 25px;
	background: #ffffff;
	box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
	padding: 40px 34px;
}

.main-cards-card-img {
	align-self: center;
	justify-self: center;
	margin: 30px;
}

.main-cards-card-h2 {
	font-weight: 700;
	font-size: 25px;
	text-align: center;
	opacity: 0.7;
	line-height: 31px;
}

.main-cards-card-p {
	font-weight: 600;
	font-size: 16px;
	text-align: center;
	opacity: 0.7;
	line-height: 29px;
	margin: 30px;
}

.main-proposals {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 30px;
	align-items: center;
}

.main-proposals::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	width: 100vw;
	margin-left: -50vw;
	margin-right: -50vw;
	height: 100%;
	background: #fafafa;
	z-index: -1;
}

.main-proposals-article {
	max-width: 548px;
	max-height: max-content;
}

/* .main-proposals-cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
} */
